<style>
  body {
    color: <%= @color %>;
  }
</style>

<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>
<%= link_to "Red", about_path(color: "red"), class: "btn btn-danger" %>
<%= link_to "Green", about_path(color: "green"), class: "btn btn-success" %>
<%= link_to "Yellow", about_path(color: "yellow"), class: "btn btn-warning" %>

<h1>About Me</h1>
<p>Lots of interesting stuff.</p>
<p>My favorite color is <%= @color %>.</p>




<% if @shoe_size >= 12 %>
    <p>Wow, you have huge feet!</p>
<% else %>
    <p>Your shoe size is <%= @shoe_size %></p>
<% end %>